{% extends 'wordPlay/profile.html' %}

{% load static %}

{% load word_extras %}

{% block overview %}

{% block heading %}
<h4>My words...</h4>
{% endblock %}

{% words user as words %}

{% block words %}

{% for word in words.words %}
<div id="page">
    <div class="my-words content">
        <div class="upper-words">
            <p><i class="fas fa-satellite-dish"></i><span>Based on words you have viewed</span></p>
            <div class="words-name">
                <i class="fas fa-language"></i>
                <a href="{% url 'word' word.id %}">{{ word.title }}</a>
                {% if user == request.user %}
                <form class="bookmark-form">
                    {% csrf_token %}
                    <button class="bookmark" id="bookmark-button{{ word.id }}"
                        onClick="bookmark('{{ word.id }}', '{{ request.user.id }}')" type="submit"
                        name="place-bookmark">
                        <span class="fa-stack" id="bookmark-mark{{ word.id }}">
                            <i class="far fa-bookmark fa-stack-2x bookmark-mark{{ word.id }}"></i>
                            {% for all_bookmark in words.all_bookmarks %}
                            {% if all_bookmark.user == request.user %}
                            {% if all_bookmark.title.id == word.id %}
                            <i class="fas fa-bookmark fa-stack-2x bookmark-mark{{ word.id }}"></i>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </span>
                    </button>
                </form>
                {% endif %}
                {% if user == request.user %}
                <form action="{% url 'delete' word.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button class="word-delete">Delete</button>
                </form>
                <button class="word-edit"><a href="{% url 'edit' word.id %}">Edit</a></button>
                {% endif %}
                <div class="synonyms">Synonyms:
                    {% for word_synonym in words.word_synonyms %}
                    {% if word_synonym.title.id == word.id %}
                    {% if word_synonym.synonym == none %}
                    {{ word_synonym.synonym }}
                    {% else %}
                    <button>
                        <a href="{% url 'word' word_synonym.synonym %}">{{ word_synonym.synonym }}</a>
                    </button>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="antonyms">Antonyms:
                    {% for word_antonym in words.word_antonyms %}
                    {% if word.id == word_antonym.title.id %}
                    {% if word_antonym.antonym == none %}
                    {{ word_antonym.antonym }}
                    {% else %}
                    <button>
                        <a href="{% url 'word' word_antonym.antonym %}">{{ word_antonym.antonym }}</a>
                    </button>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'quotations' word.id %}">Quotations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="word_media">Images/videos</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="lower-words">
            <p class="definition definition-title content">Definitions: </p>
            <p class="definition content">
                <a href="{% url 'index' word.category %}">
                    {{ word.category }}
                </a> {{ word.definition }}
            </p>

            <div class="word-image definition">
                {% if word.image %}
                <img src="{{ word.image.url }}" alt="" width="48%" height="180" />
                {% elif word.image_url %}
                <img src="{{ word.image_url }}" alt="" width="48%" height="180" />
                {% endif %}


                {% if word.video %}
                <video width="48%" height="180" controls>
                    <source src="{{ word.video.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                {% elif word.video_url %}
                <iframe width="48%" height="180" src=" {{ word.video_url }}" frameborder="0" allowfullscreen>
                </iframe>
                {% endif %}
            </div>
            {% for word_quotation in words.word_quotations %}
            {% if word.id == word_quotation.title.id %}
            {% if word_quotation.quotation %}
            {% if user == request.user %}
            <form class="like-form" method="post">
                {% csrf_token %}
                <p class="quotes timestamp">
                    <span class="count{{ word_quotation.id }}" class="like-count">{{ word_quotation.like_count }}</span>
                    <span>
                        <button class="like-button" id="like-button{{ word_quotation.id }}"
                            onClick="like('{{ word_quotation.id }}', '{{ request.user.id }}')" type="submit"
                            name="place-like">
                            <span class="fa-stack" id="like-heart{{ word_quotation.id }}">
                                <i class="far fa-heart fa-stack-2x like-heart{{ word_quotation.id }}"></i>
                                {% for all_liking in words.all_likings %}
                                {% if all_liking.user == request.user %}
                                {% if all_liking.title == word_quotation %}
                                <i class="fas fa-heart fa-stack-2x like-heart{{ word_quotation.id }}"></i>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </span>
                        </button>
                    </span>
                    Quotation:
                    {{ word_quotation.quotation }}
                    <a class="quote_link" href="{% url 'add_quotation' word.id %}">
                        <i class="fas fa-plus"> Quotation</i>
                    </a>
                </p>
            </form>
            {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
            <hr>
            <p class="timestamp">Updated by <a href=""><strong>{{ word.user.username }}</strong></a> on
                {{ word.timestamp }}
            </p>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

<!-- Pagination 
<nav aria-label="Page navigation">
    <ul id="pagination-demo" class="pagination">
        {% if words.page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ words.page_obj.previous_page_number }}" tabindex="-1">Pre</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Pre</a>
        </li>
        {% endif %}
        <div id="page-index">
            <input id="page-numbers-index" type="hidden" value="{{ words.page_obj.paginator.num_pages }}">
        </div>
        {% if words.page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ words.page_obj.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-disabled="true">Next</a>
        </li>
        {% endif %}
    </ul>
</nav> -->

{% block pagination %}
<nav aria-label="Page navigation">
    <ul id="pagination-demo" class="pagination">

        <input id="page-numbers" type="hidden" value="{{ words.page_obj.paginator.num_pages }}">

    </ul>
</nav>
{% endblock %}

{% endblock %}